#news img {
	width: 100%;
}

#news .h1 {
	color: gray;
	text-align: center;
}

#news .readmore {
	float: right;
}


#news .hotnews {
	padding-top: 20px;
	padding-bottom: 20px;
}
#news .hotnews:hover {
	background-color: #e5fefc;
}

#news .hotnews h2 {
	font-size: 22px;
}

#news .hotnews p {
	color: gray;
	text-align: justify;
}
#news .hotnews .info,
#news .hotnews .body {
	display: none;
}

#news .recent * {
	text-align: left;
}
#news .recent:hover {
	background-color: #e5fefc;
}

#news .recent h2 {
	font-size: 22px;
}
#news .recent .thumbnail,
#news .recent .body {
	display: none;
}
#news .recent .readmore {
	margin-top: -10px;
	margin-bottom: 10px;
}


#news-view .thumbnail,
#news-view .abstract,
#news-view .readmore {
	display: none
}
