#news img {
	width: 100%;
}

#news .h1 {
	color: gray;
	text-align: center;
}

#news .readmore {
	float: right;
}


#news .hotnews {
	padding-top: 20px;
	padding-bottom: 20px;
}
#news .hotnews:hover {
	background-color: #e5fefc;
}

#news .hotnews h2 {
	font-size: 22px;
}

#news .hotnews p {
	color: gray;
	text-align: justify;
}
#news .hotnews .info,
#news .hotnews .body {
	display: none;
}

#news .recent * {
	text-align: left;
}
#news .recent:hover {
	background-color: #e5fefc;
}

#news .recent h2 {
	font-size: 22px;
}
#news .recent .thumbnail,
#news .recent .body {
	display: none;
}
#news .recent .readmore {
	margin-top: -10px;
	margin-bottom: 10px;
}

#news-view .thumbnail,
#news-view .abstract,
#news-view .readmore {
	display: none
}

#news-view .certificate-wrapper,
#news-view .award-wrapper,
#news-view .emc-photo,
#news-view .academician-wrapper{
	position: relative;
	left: 50%;
}

#news-view .certificate-wrapper {
	margin-left: -215px;
}

#news-view .award-wrapper {
	margin-left: -530px;
}

#news-view .emc-photo {
	margin-left: -375px;
}

#news-view .academician-wrapper{
	margin: 50px 0 0 -525px;
}

#news-view .body .flex-item {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
}

#news-view .main-box {
	text-align: center;
}

#news-view .body .content-img img {
	max-width: 600px;
	width: 100%;
}

#news-view .body .text-left {
	text-align: left;
	margin: 0 10px 10px 10px;
}

@media (max-width: 375px) {
	#news-view h2 {
		font-size: 22px!important;
	}
	#news-view h3 {
		font-size: 20px!important;
	}
}



