#news .badge-warning,
#news-view .badge-warning {
	color: #212529;
	background-color: #ffc107;
	margin: 0px 10px 5px 10px;
}

#news img {
	width: 100%;
}

#news .h1 {
	color: gray;
	text-align: center;
}

#news .readmore {
	float: right;
}

#news .hotnews {
	padding-top: 20px;
	padding-bottom: 20px;
}
#news .hotnews:hover {
	background-color: #e5fefc;
}

#news .hotnews h2 {
	font-size: 22px;
}

#news .hotnews p {
	color: gray;
	text-align: justify;
}
#news .hotnews .info,
#news .hotnews .body {
	display: none;
}

#news .recent * {
	text-align: left;
}
#news .recent:hover {
	background-color: #e5fefc;
}

#news .recent h2 {
	font-size: 22px;
}
#news .recent .thumbnail,
#news .recent .body {
	display: none;
}
#news .recent .readmore {
	margin-top: -10px;
	margin-bottom: 10px;
}

#news-view .thumbnail,
#news-view .abstract,
#news-view .readmore {
	display: none;
}

#news-view .margin-auto {
	display: block;
	margin: 0 auto 50px auto;
	width: 100%;
}

#news-view .body .flex-item {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
}

#news-view .main-box {
	text-align: center;
}

#news-view .body .content-img img {
	max-width: 600px;
	width: 100%;
}

#news-view .body .text-left {
	text-align: left;
	margin: 0 10px 10px 10px;
}

@media (max-width: 375px) {
	#news-view h2 {
		font-size: 22px !important;
	}
	#news-view h3 {
		font-size: 20px !important;
	}
}

.loading {
	display: flex;
	justify-content: center;
}
.dot {
	width: 24px;
	height: 24px;
	background: #3ac;
	border-radius: 100%;
	display: inline-block;
	animation: slide 1s infinite;
}
.dot:nth-child(1) {
	animation-delay: 0.1s;
	background: #32aacc;
}
.dot:nth-child(2) {
	animation-delay: 0.2s;
	background: #64aacc;
}
.dot:nth-child(3) {
	animation-delay: 0.3s;
	background: #96aacc;
}
.dot:nth-child(4) {
	animation-delay: 0.4s;
	background: #c8aacc;
}
.dot:nth-child(5) {
	animation-delay: 0.5s;
	background: #faaacc;
}
@-moz-keyframes slide {
	0% {
		transform: scale(1);
	}
	50% {
		opacity: 0.3;
		transform: scale(2);
	}
	100% {
		transform: scale(1);
	}
}
@-webkit-keyframes slide {
	0% {
		transform: scale(1);
	}
	50% {
		opacity: 0.3;
		transform: scale(2);
	}
	100% {
		transform: scale(1);
	}
}
@-o-keyframes slide {
	0% {
		transform: scale(1);
	}
	50% {
		opacity: 0.3;
		transform: scale(2);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes slide {
	0% {
		transform: scale(1);
	}
	50% {
		opacity: 0.3;
		transform: scale(2);
	}
	100% {
		transform: scale(1);
	}
}
